{% extends "floodgame_vr_followup/Page.html" %}
{% load staticfiles otree_tags %}
{% load i18n %}

{% block title %}
    {% trans "Welcome" %}
{% endblock %}


{% block content %}

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:5%;">
  <span class="sr-only">5% </span>
  </div>
</div>

<img width="100%" src="{% static 'floodgame_vr_followup/banner_'|add:language_code|add:'.jpg' %}"/>

<br> <br>
<div class="card"> <div class="card-body"><p>
        Hartelijk dank voor uw deelname aan het tweede deel van dit onderzoek.
<br> <br> <b>
{% blocktrans trimmed %}
    Note that throughout the survey, there is no button to go back to a previous page.
{% endblocktrans %}</b>
</p></div></div>
<button class="btn btn-primary btn-right btn-lg" >
{% trans "Start" %}
</button>
{{ form.errors }}

{% endblock %}


