{% load staticfiles otree_tags %}
{% load i18n %}

<div class="col-4">
    <div class="card" style="text-align:center;">
        <div class="card-body">

<i class="material-icons black" style="font-size:4em">business_center</i>
           <h6 class="card-text">
{% blocktrans trimmed %}
           <span style="color:#007bff;">  No insurance </span> </h6>
        <small class="text-muted">In case of a flood you pay the <strong>full damage</strong>.
        </small>
{% endblocktrans %}

      </div>
    </div>

</div>
</div>





